@font-face { font-family: Arcade; src: url('ARCADECLASSIC.TTF'); }

body {
  font-family: Arcade;
  background: url('sprites/stars.jpg');
  zoom: 130%;
  background-repeat: no-repeat;
  background-size: cover;
}
#game, 
#start-game,
#game-over,
#next-level  {
  margin: 20px auto;
  width: 100%;
  font-size: 40px;
  color: white;
  text-align: center;
}


#game-over {
  color: red;
  font-size: 40px;
}
.score, .lives {
  color: white;
  font-size: 30px;
}
.active {
  display: block;
}

.hidden {
  display: none;
}